<div *ngIf="showIntro; else other"
     class="bootloader"
     [class.is-active]="isActive">

  <div class="scene">

    <div class="plant">

      <div class="stem"></div>

      <div class="leaf leaf-left mt-2"></div>
      <div class="leaf leaf-right mt-4"></div>

      <div class="soil">
        <span class="crack crack-1"></span>
        <span class="crack crack-2"></span>
        <span class="crack crack-3"></span>

        <div class="root root-main"></div>
        <div class="root root-left"></div>
        <div class="root root-right"></div>
      </div>

    </div>

    <h1 class="logo-text">
      <span class="farm">farm</span>
      <span class="ease">Ease</span>
    </h1>

  </div>

</div>

<!-- Main App -->
<ng-template #other>
  <app-nav></app-nav>

  <router-outlet></router-outlet>

  <app-footer *ngIf="auth.isLoggedIn()"></app-footer>
</ng-template>
